$dialog-position-top: rem( 60px);
$color-overlay: $vf-dark;

//Dialog genérico
.nsm-dialog {
  @include mq-tablet {
    min-height: 743.75rem !important;
  }

  @include mq-desktop {
    min-height: 31.25rem !important;
  }
}


//Overlay de modal genérico
.overlay.nsm-overlay-open {
  z-index: 99999;

  @include mq-tablet {
    background-color: $vf-dark-overlay !important;
  }
}

//Overlay negro transparente
.overlay-black-transparent {
  .overlay.nsm-overlay-open {
    margin-top: 0;
    z-index: 99999 !important;
    overflow: hidden;

    @include mq-tablet {
      background-color: $vf-dark-overlay2 !important;
    }

    @include mq-desktop {
      background-color: $vf-dark-overlay2 !important;
    }
  }

  &--checkout {
    .overlay.nsm-overlay-open {
      margin-top: 0;
      z-index: 10000 !important;

      @include mq-tablet {
        background-color: $vf-dark-overlay2 !important;
      }

      @include mq-desktop {
        background-color: $vf-dark-overlay2 !important;
      }
    }
  }
}

//overlay negro transparente claro
.overlay-black-transparent-light {
  .overlay.nsm-overlay-open {
    margin-top: 0;
    z-index: 10000 !important;

    @include mq-tablet {
      background-color: $vf-dark-overlay3 !important;
    }

    @include mq-desktop {
      background-color: $vf-dark-overlay3 !important;
    }

    .nsm-content {
      margin-top: 0 !important;

      @include mq-tablet {
        margin-top: rem( 80px) !important;
      }

      @include mq-desktop {
        margin-top: rem( 80px) !important;
      }
    }

    .wg-error {
      height: rem( 26px);
    }

    .checkbox {
      .wg-error {
        order: 0 !important;
        top: -5px !important;

        @include mq-desktop {
          order: -1 !important;
          top: rem( 34px) !important;
          position: relative;
          height: rem( 59px);
        }

        @media screen and (min-width: 0\0) {
          position: relative;
          top: rem( 10px) !important;
          left: 0;
          order: 0 !important;
          height: rem( 34px);
        }
      }
    }
  }
}

.overlay-black-transparent-light.c2c {
  .overlay.nsm-overlay-open {
    .nsm-content {
      margin: 0 auto;

      @include mq-tablet {
        max-width: 26.5rem;
        height: auto;
      }

      @include mq-desktop {
        max-width: 26.5rem;
        height: auto;
      }
    }
  }
}

//IMG-gallery modal
.overlay-black-transparent-light.img-gallery {
  .overlay.nsm-overlay-open {
    z-index: 99998 !important;
    margin-top: rem( 45px);
    overflow: auto;

    @include mq-tablet {
      margin-top: rem( 60px);
    }

    @include mq-desktop {
      margin-top: 0px;
    }

    .custom-modal {
      max-width: 100% !important;

      @include mq-tablet {
        max-width: 30rem !important;
        margin-top: 2rem;
      }

      @include mq-desktop {
        max-width: 40rem !important;
      }

      .nsm-content {
        margin-top: 0;
        margin-bottom: 0;

        @include mq-desktop {
          margin-top: rem( 120px);
        }
      }
    }
  }
}

//Let me now
.overlay-black-transparent.letMeNow {

  .overlay.nsm-overlay-open {
    z-index: 10000 !important;
    margin-top: rem( 45px);
    overflow: auto;

    @include mq-tablet {
      margin-top: rem( 60px);
      background-color: $vf-dark-overlay3 !important;
    }

    @include mq-desktop {
      margin-top: 0;
      background-color: $vf-dark-overlay3 !important;
    }

    .custom-modal {
      max-width: 100% !important;

      @include mq-tablet {
        max-width: 30rem !important;
        margin-top: 2rem;
      }

      @include mq-desktop {
        max-width: 30rem !important;
      }

      .nsm-content {
        margin-top: 0;
        margin-bottom: 0;

        @include mq-desktop {
          margin-top: 5vh;
        }

        @media screen and (min-width: 1800px) {
          margin-top: rem( 120px);
        }
      }
    }
  }
}


//Overlay negro transparente tarifas
.overlay-black-transparent-light.rate {
  .overlay.nsm-overlay-open {
    background-color: $vf-dark-overlay3 !important;
    margin-top: rem( 45px);
    z-index: 99999 !important;
    overflow: auto;
    padding:  rem(20px);
    .custom-modal {
       max-width: 100% !important;
    }
    .c2c-from__wrapper-close {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      margin: 0;
      padding: 0;
    }
    .nsm-content {
      margin: 0;
      padding: 0;
      @include mq-tablet {
        margin-top: 0 !important;
      }
      .rate-detail__item{
        margin: 0;
        padding: rem(30px) 0 0;
        @include mq-desktop {
          padding: 0;
        }
      }
    }
    @include mq-tablet {
      margin-top: rem( 60px);
      padding: rem(130px) rem(50px);
      .c2c-from__wrapper-close {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        margin: 0;
        padding: rem(8px);
      }
    }
    @include mq-desktop {
      margin-top: rem(107px);
      .c2c-from__wrapper-close {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        margin: 0;
        padding: rem(10px);
      }
    }
  }
}

//overlay politica de privacidad
.privacity {
  .overlay.nsm-overlay-open {
    overflow: auto;
    z-index: 10001 !important;
  }
  .deco-info-container{
  .c2c-from__wrapper-close {
      position: absolute;
      top: rem(-50px);
      right: -4%;
      width: 100%;
      @include mq-tablet {
        top: rem(-40px);
        right: -4%;
      }
      @include mq-desktop {
        top: rem(-40px);
        right: -8%;
      }
    }
  }
  .custom-modal {
    max-width: 90% !important;

    @include mq-tablet {
      max-width: 95% !important;
    }

    @include mq-desktop {
      max-width: 95% !important;
    }
  }

  .nsm-content {
    margin: 1rem auto !important;

    @include mq-tablet {
      width: 100%;
      margin: 8.4375rem auto !important;
      padding: rem( 8px);
    }

    @include mq-desktop {
      width: 100%;
      margin: 8.4375rem auto !important;
      padding: rem( 8px);
    }
    .vfes-modal{
      background: transparent;
    }
  }
}


//Overlay gris claro opaco
.overlay-gray-opaque {
  .overlay.nsm-overlay-open {
    background-color: $vf-ligthgray !important;
    padding-top: 0rem;

    @include mq-tablet {
      padding-top: 1rem;
    }

    @include mq-desktop {
      padding-top: 2rem;
    }
  }
}

//modal c2c
.custom-modal.custom-modal--strech {
  position: fixed;

  .c2c-from__wrapper-close {
    max-width: 26.5rem;
    margin: 0 auto -2px;
    background-color: $vf-dark;
    mat-icon{
      color: #ffffff;
    }
  }
}

//modal formulario edit
.overlay-black-transparent-light.editModal.c2c {
  .overlay.nsm-overlay-open {
    background-color: rgba(0, 0, 0, 0.75) !important;

    @include mq-tablet {
      background-color: #ffffff !important;
    }

    @include mq-desktop {
      background-color: rgba(0, 0, 0, 0.75) !important;
    }
  }

  .custom-modal.custom-modal--strech.custom-modal--edit {
    position: fixed;

    .nsm-content {
      max-width: 100%;
      margin-top: 0px !important;

      @include mq-desktop {
        max-width: 26.25rem;
        margin-top: 5rem !important;
      }

      .nsm-body {
        background-color: #ffffff;
        overflow-y: auto;

        @include mq-desktop {
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
          border-radius: rem( 10px);
          overflow-y: hidden;
        }
        @include mq-tablet {
          overflow-y: hidden;
        }

        .c2c-modal__wrapper {
          padding: 1.25rem 1.25rem 3.5rem;
          height: 150vh;
          &.mitek__modal {
            height: 93vh;
          }
          @include mq-tablet {
            max-width: 22.0625rem;
            margin: 10.7rem auto 0;
            padding: 0 0 3.5rem;
            height: 100%;
          }
          @include mq-desktop {
            height: 100%;
          }

          &.heightAuto{
            height:auto;
            .mat-form-field-suffix{
              width: 0;
            }
          }

          .mat-form-field-wrapper {
            padding-bottom: 1.2rem !important;
          }

          .vfes-title {
            font-family: 'VodafoneRegular';
            font-size: rem( 24px);
            line-height: rem( 30px);

            @include mq-tablet {
              font-family: 'VodafoneLight';
              font-size: rem( 30px);
              line-height: rem( 30px);
            }

            @include mq-desktop {
              font-family: 'VodafoneLight';
              font-size: rem( 26px);
              line-height: rem( 30px);
            }
          }
        }

        .vfes-title {
          font-size: 1.625rem;
          line-height: 1.875rem;
          margin-bottom: 1.5rem;

          @include mq-tablet {
            font-size: 1.875rem;
          }
        }

        .c2c-from__wrapper-close {
          max-width: 100%;
          margin: 0 auto 1.2rem;
          padding: .9rem 1rem 0;
          background-color: transparent;
          mat-icon{
            color: #333333;
          }
          &--left {
            text-align: left;
            mat-icon {
              width: rem(24px);
              height: rem(24px);
              color: map-get($colors, $key: dark-red);
            }
          }
          @include mq-desktop {
            max-width: 2625rem;
          }
        }
      }
    }
  }

}
//custom modal checkouts
.overlay-black-transparent-light.c2c.custom-modal--checkboxModal{
  .overlay.nsm-overlay-open{
    background-color: #ffffff;
    .nsm-content{
      @include mq-tablet {
        max-width:  rem( 383px);
      }
      @include mq-desktop {
        max-width: 26.25rem;
      }
    }
  }
  .custom-modal--checkboxModal {
    position: relative;
    .c2c-from__wrapper-close {
      max-width: 26.5rem;
      margin: 0 auto -2px;
      background-color: $vf-dark;
      background-color: #ffffff !important;
      mat-icon {
        color: #333;
      }
    }

    .nsm-body{
      @include mq-tablet {
        overflow: hidden;
        border-radius: rem( 10px);
      }
      @include mq-desktop {
        overflow: hidden;
        border-radius: rem( 10px);
        @include mq-explorer{
          max-height: 47rem;
        }
      }
    }
    .c2c-modal__wrapper{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      margin-top: rem( 50px);
      padding: 0 rem( 18px) rem( 20px);
      @include mq-tablet {
        margin-top: 0;
        position: relative;
        padding: rem( 18px) rem( 22px) rem( 20px);
      }
      @include mq-desktop {
        margin-top: 0;
        position: relative;
        padding: rem( 35px) rem( 22px) rem( 20px);
        overflow: auto;
        padding-bottom: 22%;
        height: 100%;
      }
    }
    .c2c-modal__wrapper-condition{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      margin-top: rem( 50px);
      padding: 0 rem( 18px) rem( 20px);
      @include mq-tablet {
        margin-top: 0;
        position: relative;
        padding: rem( 18px) rem( 22px) rem( 20px);
      }
      @include mq-desktop {
        margin-top: 0;
        position: relative;
        padding: rem( 35px) rem( 22px) rem( 20px);
        overflow: auto;
        height: 100%;
      }
    }
    .condition-activation__modal{
      h3{
        text-align: center;
        margin-bottom: rem(22px) !important;
      }
      h4.tol-fonts__lt{
        font-size: rem(18px);
      }
    
    }
  }
}
// Modal protección de datos en datos personales
.overlay-black-transparent-light.c2c.personal-data.custom-modal--checkboxModal{
  .overlay.nsm-overlay-open{
    .nsm-content{
        @include mq-desktop {
        height: 80%;
      }
    }
  }
}

//Modal add-lines-popup
.overlay-black-transparent-light.c2c.custom-modal--add-lines-popup{
  .overlay.nsm-overlay-open{
    background-color: white;
    .nsm-content{
      height: 100%;
      @include mq-tablet {
        height: unset;
        background-color: white;
        max-width: unset !important;
      }
      @include mq-desktop {
        height: unset;
      }
    }
  }
}
.custom-modal--add-lines-popup{
  height: 100%;
}
//popup promos especiales
.overlay-black-transparent.special-promos {
  .overlay.nsm-overlay-open {
    z-index: 9998 !important;
    margin-top: rem( 45px);
    overflow: auto;

    @include mq-tablet {
      margin-top: rem( 60px);
    }

    @include mq-desktop {
      margin-top: 0px;
    }

    .custom-modal {
      max-width: 100% !important;
      width: 20rem;

      @include mq-tablet {
        width: 20rem;
        //margin-top: 2rem;
      }

      @include mq-desktop {
        width: 42.9375rem;
      }

      .nsm-content {
        margin-top: rem( 20px);
        margin-bottom: 0;

        @include mq-desktop {
          margin-top: rem( 162px);
        }

        @include mq-tablet {
          margin-top: rem( 149px);
        }
      }
    }
  }
}

//popup promos especiales
.overlay-black-transparent.special-promos.c2c {
  .overlay.nsm-overlay-open {
    z-index: 9998 !important;
    margin-top: 0px;
    overflow: auto;

    @include mq-tablet {
      margin-top: 0px;
    }

    @include mq-desktop {
      margin-top: 0px;
    }

    .custom-modal {
      max-width: 100% !important;
      width: 320px;

      @include mq-tablet {
        width: rem( 320px);
        //margin-top: 2rem;
      }

      @include mq-desktop {
        width: 42.9375rem;
      }

      .nsm-content {
        margin-top: 0;
        margin-bottom: 0;

        @include mq-desktop {}
      }
    }
  }
}

//popup direcciones
.overlay-black-transparent.address {
  .overlay.nsm-overlay-open {
    z-index: 10 !important;
  }
}

// Popup tarifas ilimitadas
.overlay-black-transparent.ratesList {
  .overlay.nsm-overlay-open {
    z-index: 10 !important;
    //padding-top: 9rem !important;
    background: rgba(0, 0, 0, 0.4) !important;
    @include mq-tablet {
      padding-top: 0 !important;
      background: rgba(0, 0, 0, 0.4) !important;
      overflow: hidden;
    }
    @include mq-desktop {
      padding-top: 0 !important;
      background: rgba(0, 0, 0, 0.4) !important;
      overflow: hidden;
    }

    .nsm-dialog-open {
      @include mq-tablet {
        max-width: 80% !important;
        overflow: hidden;
        max-height: 38rem;
        border-radius: 0.625rem;
      }
      @include mq-desktop {
        max-width: 50% !important;
        overflow: hidden;
        max-height: 40rem;
        border-radius: 0.625rem;
      }
      .nsm-content {
        overflow: auto;
        @include mq-tablet {
          overflow: hidden;
        }
        @include mq-desktop {
          overflow: hidden;
        }
      }
    }
  }
}

.custom-modal.custom-modal--medium {
  position: fixed;

  .c2c-from__wrapper-close {
    max-width: 50rem;
    margin: 0 auto -2px;
    background-color: $vf-white;
  }
}

//modal rate
.custom-modal.custom-modal--rate {
  .nsm-content {
    // reset ngx-smart-modal
    box-shadow: none;
    margin-top: 0px;
    padding: 0;

    // @include mq-tablet {
    //   margin-top: rem( 24px);
    //   padding: rem( 20px);
    // }

    @include mq-desktop {
      margin-top: 3% !important;
    }

    .c2c-from__wrapper-close {
      position: absolute;
      right: 0;
      z-index: 1;
    }
    .rate-detail__item {
      margin: 0;

      @include mq-tablet {
        margin: 0;
      }
    }
  }
}
//custom modal direcciones
.cdk-overlay-container{
  z-index: 1000000 !important;
  position: fixed;
}
.privacity.ratesList{
  .custom-modal{
    max-width: 100% !important;
    height: 100%;
    @include mq-tablet{
      max-width: 23.9375rem !important;
      max-height: 40.625rem;
    }
    @include mq-desktop{
      max-width: 26.25rem !important;
      max-height: 44.625rem;
    }
    .nsm-content{
      margin: 0 auto !important;
      height: 100%;
      overflow-x: hidden;
      -ms-overflow-style: none;  // IE 10+ scrollbar hide
       scrollbar-width: none; // Firefox scrollbar hide
      &::-webkit-scrollbar {
          display: none; //crome scrollbar hide
      }

      @include mq-tablet {
        max-width: 100% !important;
        margin: 8.4375rem auto !important;
        max-height: 37rem;
        border-radius: rem( 10px);
      }
      @include mq-desktop {
        max-width: 100% !important;
        max-height: 43rem;
        min-height: 40.625rem;
        margin: 8.4375rem auto !important;
        border-radius: rem( 10px);
      }

      .nsm-body {
        @include mq-tablet {
          min-height: 100%;
        }
        @include mq-desktop {
          min-height: 100%;
        }
      }
    }
  }
  .overlay.nsm-overlay-open{
    padding-top: 0;
    top: 0;
    z-index: 9999 !important;
  }
}


.privacity.address{
  .custom-modal{
    max-width: 100% !important;
    height: 100%;
    @include mq-tablet{
      max-width: 23.9375rem !important;
      max-height: 40.625rem;
    }
    @include mq-desktop{
      max-width: 26.25rem !important;
      max-height: 46.625rem;
    }
    .nsm-content{
      margin: 0 auto !important;
      height: 100%;
      overflow-x: hidden;
      -ms-overflow-style: none;  // IE 10+ scrollbar hide
      scrollbar-width: none; // Firefox scrollbar hide
      &::-webkit-scrollbar {
        display: none;
      }
      @include mq-desktop{
        overflow: hidden;
      }
      @include mq-tablet{
        overflow: hidden;
      }
      &::-webkit-scrollbar {
        @include mq-tablet{
          height: 80%;
        }
        @include mq-desktop{
          height: 80%;
        }
      }

      @include mq-tablet {
        max-width: 100% !important;
        margin: 8.4375rem auto !important;
        max-height: 46rem;
        border-radius: rem(10px);
      }
      @include mq-desktop {
        max-width: 100% !important;
        max-height: initial;
        min-height:50rem;
        margin: 8.4375rem auto !important;
        border-radius: rem( 10px);
      }

      .nsm-body {
        @include mq-tablet {
          min-height: 100%;
        }
        @include mq-desktop {
          min-height: 100%;
        }
        .submit{
          padding: rem(20px)  rem(6px);
          text-align: center;
          .button-submit--red{
            width: 100%;
          }
        }
        .submit__options-2{
          position: relative;
          bottom: 0;
          padding: rem(20px) 0 0;
          height: auto;
          background-color: #ffffff;
        }
      }
    }
  }
  .overlay.nsm-overlay-open{
    padding-top: 0;
    top: 0;
    z-index: 9999 !important;
    @include mq-tablet {
      overflow: hidden;
    }
    @include mq-desktop {

    }
  }
}



//Custom modal opaco
.custom-modal {
  max-width: 100% !important;
  @include mq-tablet {
    max-width: 95% !important;  }
  @include mq-desktop {
    max-width: 95% !important;
  }
  &--dark {
    color: white;

    .nsm-content {
      margin-top: rem( 15px) !important;
      background: $vf-dark;

      .c2c-modal__wrapper {
        .tapCall {
          padding: 1.75rem 0px 1.25rem;

          a {
            width: 100%;
            border: solid rem( 1px) #ffffff;
            font-size: 1.125rem;
            font-family: 'VodafoneRegular';
            padding: .59375rem 0;

            span {
              font-size: 1.125rem;
              display: inline-block;

              strong {
                font-family: 'VodafoneRgBold';
              }
            }

          }
        }
      }
    }
  }

  &--full {
    height: 100%;
    width: 100% !important;
    max-width: 100% !important;

    //Contenido del modal
    .nsm-content {
      background: transparent;
      // height: 100%;
      margin-top: rem(50px) !important;

      .nsm-body {
        height: 100%;
        border-radius: .375rem;
      }
    }


    .c2c-from__wrapper-close {
      text-align: right;
      margin-right: 2rem;

      a {
        svg.icon {
          stroke: none;
          width: rem( 32px) !important;
          height: rem( 32px) !important;
        }
      }
    }
  }

  &--fullCheckout {
    height: 100%;
    width: 100% !important;
    max-width: 100% !important;

    //Contenido del modal
    .nsm-content {
      background: transparent;
      height: 100%;
      overflow: auto;
      margin-top: 0 !important;

      .nsm-body {
        height: 100%;
      }
    }


    .c2c-from__wrapper-close {
      text-align: right;
      margin-right: 2rem;

      a {
        svg.icon {
          stroke: none;
          width: rem( 32px) !important;
          height: rem( 32px) !important;
        }
      }
    }
  }

  &--gray {
    .nsm-content {
      background: 0 0;
    }

    .c2c-from__wrapper-close {
      text-align: right;
      margin-right: 0rem;

      @include mq-tablet {
        margin-right: 2rem;

      }

      @include mq-tablet {
        margin-right: 2rem;
      }

      a {
        svg.icon {
          stroke: none;
          width: rem( 32px) !important;
          height: rem( 32px) !important;
        }
      }
    }

  }

  .nsm-content {
    // reset ngx-smart-modal
    box-shadow: none;
    padding: 0;
    // space to show MDD
    margin: 0;
    margin-top: rem( 10px);
    margin-bottom: rem( 10px);

    @include mq-tablet {
      margin-bottom: 0;
    }

    @include mq-desktop {
      margin-top: rem( 135px);
    }
  }

  .nsm-dialog-btn-close {
    top: rem( 14px);
    right: rem( 30px);
  }

  .c2c-from__wrapper-close {
    text-align: right;
    padding: rem( 8px);
    &--left {
      text-align: left;
    }
    a,
    button {
      svg.icon {
        stroke: none;
        width: rem( 32px);
        height: rem( 32px);
      }
      mat-icon{
        width: rem( 40px);
        height: rem( 40px);
      }
    }
  }
}

ngx-smart-modal[identifier="detailImg"],
ngx-smart-modal[identifier="letMeNow"] {

  .nsm-body {
    height: calc(100vh - 46px);
    overflow: auto;

    @include mq-tablet {
      height: auto;
    }

    @include mq-desktop {
      height: auto;
    }
  }
}

ngx-smart-modal[identifier="checkoutAddress"] {
  .nsm-overlay-open {
    z-index: 10 !important;
    top: 2.9rem;
    padding-top: 2rem;
    background-color: rgba(0, 0, 0, 0.75);

    @include mq-tablet {
      top: 0;
      padding-top: 0;
    }

    @include mq-desktop {
      top: 0;
      padding-top: 0;
    }

    .nsm-content {
      @include mq-tablet {
        max-width: 600px;
      }

      @include mq-desktop {
        max-width: 800px;
      }
    }
  }
}

.custom-modal.custom-modal--strech-popUpModal {
  position: fixed;

  .c2c-from__wrapper-close {
    margin: 0 auto -2px;
    background-color: $vf-dark;
  }
}
