@import '01-settings/index';
@import '02-tools/index';

ngx-smart-modal.modal-coverage-loading {
  .overlay {
    background: #ffffff !important;
    @include flexbox();
    @include flex-just(center);
    @include align-items(center);
    z-index: 999999 !important;
  }

  .nsm-content {
    background: none;
    box-shadow: none;
    margin:3.75rem 0;
    @include mq-desktop{
      margin:3.75rem;
    }
  }

  .modal-coverage-loading__text{
     font-size: rem( 24px);
     margin-top: rem( 32px);
     line-height: rem( 30px);
     text-align: center;

     span{
      width: rem( 223px);
      display: block;
      margin: auto;
     }
  }
}
