
.bolo {
    @include flexbox();
    min-width: 100%;
    text-align: center;
    height: auto;
    margin-bottom:rem( 7px);
    text-align: left;
    border-radius: 0;

    svg {
      stroke: none;
      width:rem( 30px);
      height:rem( 30px);
    }

    p {
      font-size: 1.25rem;
      line-height: rem( 20px);
      font-weight: bolder;
      margin: rem( 9px) rem( 12px) 0;
    }

    @media screen and (min-width: 0\0) {
      @include flexbox();
      @include justify-content(flex-start);
      @include align-items(center);
      min-width: 100%;
      text-align: center;
      line-height: rem( 16px);
      height: auto;
      margin-bottom: rem( 12px);
      text-align: left;
      border-radius: 0;
    }

  }
