ftol-ficha-services {
  p {
    font-size: inherit !important;
    margin: inherit !important;
  }

  .swiper-pagination-bullet {
    margin: 0 8px !important;
    background-color: #cccccc !important;
    opacity: 1 !important;
    &.swiper-pagination-bullet-active {
      background-color: #e60000 !important;
      border: none !important;
    }
  }
}
