@import '01-settings/index';
@import '02-tools/index';
.swiper {
  &-pagination {
    position: static;

    .swiper-pagination-bullet-active {
      border: 1px solid #373737;
      background: #fff;
    }
    .swiper-pagination-bullet{
      .vodafone-one &{
        margin: 0  rem( 12px);
        padding: rem( 5px);
        @include mq-tablet{
          margin: 0  rem( 16px);
          padding: rem( 5px);
        }
        @include mq-desktop{
          margin: 0 rem( 20px);
          padding: rem( 5px);
        }
      }
    }
  }

  &-slide {
    text-align: center;
  }

  .swiper-lazy-preloader {
    margin: auto;
  }
}
