//Black
$vf-black: #000;

//White
$vf-white: #fff;
$vf-white2: #eee;
$vf_white3: #f4f4f4;
$vfes-color--vodafone-white: #FFFFFF;
$vfes-color-bg-vodafone-white: #FFFFFF;

//Gray
$vf-dark: #333333;
$vf-darkgray: #666;
$vf-darkgray2: #555;
$vf-darkgray3: #979797;
$vfes-color--vodafone-gray: #333333;
$vfes-color-bg-vodafone-gray: #333333;

//Ligthgray
$vf-ligthgray: #ebebeb;
$vf-lightgray2: #999999;
$vf-lightgray3: #f3f3f3;
$vf-lightgray4: #cccccc;


//Red
$vfes-color--vodafone-red: #E60000;
$vfes-color-bg-vodafone-red: #E60000;

//Green
$vf-green: #428600;

//Blue
$vf-lightblue: #6bb2bf;
$vf-darkcyan: #007c92;

//Overlay
$vf-dark-overlay:rgba(51, 51, 51, 0.95);
$vf-dark-overlay2:rgba(0, 0, 0, 0.85);
$vf-dark-overlay3:rgba(51, 51, 51, 0.75);

//Yellow
$vf-yellow: #fecb00;

//Maroon
$vf-color-maroon:#990000;




