$colors: (white-pure: #fff,
  black-pure: #000,
  dark-black: #333333,
  dark-black-2: #222222,
  dark-gray: #666666,
  gray-pure: #999999,
  light-gray: #F4F4F4,
  light-gray-2: #EBEBEB,
  light-gray-3: #CCCCCC,
  light-gray-4: #AFAFAF,
  light-green: #88C249,
  dark-green: #538B3E,
  light-orange: #EB901B,
  dark-orange: #EF6C22,
  light-red: #FF0000,
  dark-red: #E60000,
  light-purple: #93406B,
  dark-purple: #4A2D88,
  light-magenta: #E91B63,
  dark-magenta: #A42763,
  light-cyan: #18BCD4,
  dark-cyan: #007c92);

//Black
$vf-black: #000;

//White
$vf-white: #fff;
$vf-white2: #eee;
$vf_white3: #f4f4f4;
$vfes-color--vodafone-white: #FFFFFF;
$vfes-color-bg-vodafone-white: #FFFFFF;

//Gray
$vf-dark: #333333;
$vf-darkgray: #666;
$vf-darkgray2: #555;
$vf-darkgray3: #979797;
$vfes-color--vodafone-gray: #333333;
$vfes-color-bg-vodafone-gray: #333333;

//Ligthgray
$vf-ligthgray: #ebebeb;
$vf-lightgray2: #999999;
$vf-lightgray3: #f3f3f3;
$vf-lightgray4: #cccccc;


//Red
$vfes-color--vodafone-red: #E60000;
$vfes-color-bg-vodafone-red: #E60000;

//Green
$vf-green: #428600;

//Blue
$vf-lightblue: #6bb2bf;
$vf-darkcyan: #007c92;

//Overlay
$vf-dark-overlay:rgba(51, 51, 51, 0.95);
$vf-dark-overlay2:rgba(0, 0, 0, 0.85);
$vf-dark-overlay3:rgba(51, 51, 51, 0.75);
$ftol-shadow : rgba(0, 0, 0, 0.25);

//Yellow
$vf-yellow: #fecb00;

//Maroon
$vf-color-maroon:#990000;

// Primary colours
$color-red: #E60000;
$color-mine-shaft: #333333;
$color-white: #FFFFFF;
$color-green: #428600;

// Secondary colours
$color-black: #000000;
$color-red-berry: #990000;
$color-guardsman-red: #BD0000;
$color-seance: #9C2AA0;
$color-amethyst: #C649CA;
$color-finn: #5E2750;
$color-buddha-gold: #A8B400;
$color-supernova: #FECB00;
$color-tangerine: #EB9700;
$color-blue-lagoon: #007C92;
$color-cerulean: #00B0CA;
$color-provincialpink: #FEF2F2;
$color-pistachio: #A8B600;
$color-spring-green: #abb400;
$color-red-close-button: #bf0000;
$color-red-dark: #a60000;
$color-mostaza: #fecf09;
$green-hoverSDK:#285200;
$green-hoverSDKdark:#326700;

// Monochrome colours
$color-abbey: #4A4D4E;
$color-ironside-gray: #6F6E6B;
$color-dove-gray: #666666;
$color-dusty-gray: #999999;
$color-silver-chalice: #AFAFAF;
$color-silver: #CCCCCC;
$color-mercury-dark: #E4E4E4;
$color-gallery: #EBEBEB;
$color-wild-sand: #F4F4F4;
$color-porcelain: #FCFDFD;
$color-nav:#f9f9f9;
$color-nav-active:#eaeaea;
$color-nav-selected:#423030;

// Commonly used throughout
$color-mine-shaft-dark: #2A2A2A;
$color-tundora: #434343;
$color-alto: #D6D6D6;
$color-mercury: #E5E5E5;
$color-limeade: #428600;

//colores de sistema

$color-leg-black: #333;
$color-leg-red: #e60000;
$color-leg-red-hover: #970000;
$color-leg-blue: #007c92;
$color-leg-gray: #e5e5e5;
$color-leg-white: #fff;
$color-leg-purple: #9c2aa0;
$color-leg-dark-purple: #5e2750;
$color-leg-green: #488600;
$color-leg-dark-green: #244D00;
$color-leg-aquamarine: #0090AE;
$color-leg-yellow: #FEC800;
$color-leg-grey: #6d6a69;
$color-help: #d8d8d8;
$color-shop: #9d9d9d;
$color-shop-shadow: #d1d1d1;
$color-filter: #cdcdcd;
$color-bullet: #373737;
$color-list: #dddddd;
$press-nav:#4a4243;
$color-gradient-red-start: #CD1000;
$color-gradient-red-end: #E91300;
$color-gradient-purple-start: #88268b;
$color-gradient-purple-end: #9c2aa0;
$color-gradient-blue-start: #006f86;
$color-gradient-blue-end: #0090ae;
$color-mapa-web: #cacaca;
