
// TODO: esto ya existe en el framework, no es necesario duplicarlo
.not-mobile {
  display: none;

  @include mq-tablet {
    display: block;
  }

  @include mq-desktop {
    display: block;
  }
}

.mobile {
  display: block;

  @include mq-tablet {
    display: none;
  }

  @include mq-desktop {
    display: none;
  }
}
.hide--lrg{
  @include mq-desktop {
    display: none !important;
  }
}
.hide--tb{
  @include mq-tablet {
    display: none !important;
  }
}