<section class="test">
  <h1>Pagina de testeo de componentes</h1>

  <div appSvgSpritesheet [version]="'sprite.v3.svg'"></div>

  <mva10-c-icon
    [size]="64"
    [title]="'icon-4g'"
    [iconId]="'icon3-4g'">
  </mva10-c-icon>

  <hr>
  <mva10-c-carousel-continuous>
    <mva10-c-carousel-item>
      <mva10-c-filter
        textLabel="Lorem ipsum amet"
        idInput="filter-1"
        noWrap="true">
      </mva10-c-filter>
    </mva10-c-carousel-item>
    <mva10-c-carousel-item>
      <mva10-c-filter
        textLabel="Lorem ipsum amet"
        idInput="filter-2"
        noWrap="true">
      </mva10-c-filter>
    </mva10-c-carousel-item>
    <mva10-c-carousel-item>
      <mva10-c-filter
        textLabel="Lorem ipsum"
        idInput="filter-3"
        noWrap="true">
      </mva10-c-filter>
    </mva10-c-carousel-item>
    <mva10-c-carousel-item>
      <mva10-c-filter
        textLabel="Lorem ipsum"
        idInput="filter-4"
        noWrap="true">
      </mva10-c-filter>
    </mva10-c-carousel-item>
  </mva10-c-carousel-continuous>
</section>
