<div class="MDD_autoncontent MDDfooter js">
  <div class="MddDS2">
    <footer>
      <!-- Inicio Footer_WCS_Desktop -->
      <div class="footer vfc-layout footer-desktop">
        <div class="vfc-layout__item vfc-u-color-bg-black">
          <div class="vfc-layout__wrapper">
            <div class="vfc-layout">
              <div class="vfc-layout__item vfc-u-1/1-lap-and-up">
                <div class="ventajasFooter"><span class="vfc-u-center h3"> Razones para comprar online </span>
                  <ul class="vfc-layout__item vfc-u-5/5-lap-and-up">
                    <li>
                      <svg class="icon_mdd">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon3-tick-outline'/>
                      </svg>
                      <span>Mejor Precio Vodafone</span></li>
                    <li>
                      <svg class="icon_mdd">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-truck'/>
                      </svg>
                      <span>Elige modo de entrega</span></li>
                    <li>
                      <svg class="icon_mdd">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-right_arrow'/>
                      </svg>
                      <span>Garantía de devolución</span></li>
                    <li><a
                      href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/informacion/razones-para-comprar-online/"
                      target="_self" title="Ver todas las ventajas" class="lazyloaded btn aa-footer-advantage"><span>Ver todas las ventajas</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <h2 class="access">Enlaces de pie de página</h2>
            <div class="vfc-layout">
              <div class="vfc-layout__item vfc-u-1/1-lap-and-up">
                <div class="accordion accordion--black accordion--black-arrow">
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Tarifas Móvil + Fibra <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-1/"
                          target="_self" title="Vodafone One Mini" class="lazyloaded aa-footer-second-level"><span>Vodafone One Mini</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-2/"
                          target="_self" title="Vodafone One Extra" class="lazyloaded aa-footer-second-level"><span>Vodafone One Extra</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-3/"
                          target="_self" title="Vodafone One ilimitada" class="lazyloaded aa-footer-second-level"><span>Vodafone One ilimitada</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-4/"
                          target="_self" title="Vodafone One ilimitada Súper" class="lazyloaded aa-footer-second-level"><span>Vodafone One ilimitada Súper</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-5/"
                          target="_self" title="Vodafone One ilimitada Total" class="lazyloaded aa-footer-second-level"><span>Vodafone One ilimitada Total</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/tienda-online/particulares/consulta-de-cobertura/"
                               target="_self" title="Consulta cobertura de Fibra"
                               class="lazyloaded aa-footer-second-level"><span>Consulta cobertura de Fibra</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/conocenos/test-velocidad-adsl/" target="_self"
                               title="Test de Velocidad" class="lazyloaded aa-footer-second-level"><span>Test de Velocidad</span></a>
                        </li>
                      </ul>
                    </div>
                  </section>
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Tarifas Móvil <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-1/"
                          target="_self" title="Tarifa Móvil Mini" class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil Mini</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-2/"
                          target="_self" title="Tarifa Móvil Extra" class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil Extra</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-3/"
                          target="_self" title="Tarifa Móvil ilimitada" class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil ilimitada</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-4/"
                          target="_self" title="Tarifa Móvil ilimitada Súper" class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil ilimitada Súper</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-5/"
                          target="_self" title="Tarifa Móvil ilimitada Total" class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil ilimitada Total</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/esim-vodafone/"
                          target="_self" title="eSIM" class="lazyloaded aa-footer-second-level"><span>eSIM</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/prepago-y-recargas/"
                          target="_self" title="Prepago y recargas" class="lazyloaded aa-footer-second-level"><span>Prepago y recargas</span></a>
                        </li>
                      </ul>
                    </div>
                  </section>
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Móviles y Dispositivos <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/huawei/"
                               target="_self" title="Móviles Huawei" class="lazyloaded aa-footer-second-level"><span>Móviles Huawei</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/samsung/"
                               target="_self" title="Móviles Samsung" class="lazyloaded aa-footer-second-level"><span>Móviles Samsung</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/sony/"
                               target="_self" title="Móviles Sony" class="lazyloaded aa-footer-second-level"><span>Móviles Sony</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/lg/"
                               target="_self" title="Móviles LG" class="lazyloaded aa-footer-second-level"><span>Móviles LG</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/moviles-5g/"
                          target="_self" title="Móviles 5G"
                          class="lazyloaded aa-footer-second-level"><span>Móviles 5G</span></a></li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/iphone-11-pro-max/"
                          target="_self" title="iPhone 11 Pro | Pro Max"
                          class="lazyloaded aa-footer-second-level"><span>iPhone 11 Pro | Pro Max</span></a></li>
                        <li><a href="https://vodafone.ascendeoiberia.com/" target="_blank" title="Accesorios Vodafone"
                               class="lazyloaded aa-footer-second-level"><span>Accesorios Vodafone</span></a></li>
                      </ul>
                    </div>
                  </section>
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Televisión <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-1/"
                          target="_self" title="Pack TV Seriefans" class="lazyloaded aa-footer-second-level"><span>Pack TV Seriefans</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-2/"
                          target="_self" title="Pack TV Serielovers" class="lazyloaded aa-footer-second-level"><span>Pack TV Serielovers</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-3/"
                          target="_self" title="Pack TV Cinefans" class="lazyloaded aa-footer-second-level"><span>Pack TV Cinefans</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-4/"
                          target="_self" title="Pack TV Documentales" class="lazyloaded aa-footer-second-level"><span>Pack TV Documentales</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-5/"
                          target="_self" title="Pack TV Peques" class="lazyloaded aa-footer-second-level"><span>Pack TV Peques</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/programacion-television/"
                          target="_self" title="Programación TV" class="lazyloaded aa-footer-second-level"><span>Programación TV</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/contenidos-television/"
                          target="_self" title="Contenidos Destacados TV"
                          class="lazyloaded aa-footer-second-level"><span>Contenidos Destacados TV</span></a></li>
                      </ul>
                    </div>
                  </section>
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Vodafone España <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a href="http://www.saladeprensa.vodafone.es/c/home/" target="_blank" title="Sala de Prensa"
                               class="lazyloaded aa-footer-second-level"><span>Sala de Prensa</span></a></li>
                        <li><a href="https://www.vodafone.com/about/where-we-operate" target="_self"
                               title="Empresas del Grupo Vodafone" class="lazyloaded aa-footer-second-level"><span>Empresas del Grupo Vodafone</span></a>
                        </li>
                        <li><a href="https://www.fundacionvodafone.es/" target="_blank" title="Fundación Vodafone"
                               class="lazyloaded aa-footer-second-level"><span>Fundación Vodafone</span></a></li>
                        <li><a href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/trabaja-con-nosotros/"
                               target="_self" title="Trabaja con nosotros"
                               class="lazyloaded aa-footer-second-level"><span>Trabaja con nosotros</span></a></li>
                        <li><a
                          href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/quienes-somos/legal-y-regulatorio/"
                          target="_self" title="Legal y regulatorio" class="lazyloaded aa-footer-second-level"><span>Legal y regulatorio</span></a>
                        </li>
                        <li><a
                          href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/empresa-sostenible/estrategia/"
                          target="_self" title="Sostenibilidad" class="lazyloaded aa-footer-second-level"><span>Sostenibilidad</span></a>
                        </li>
                      </ul>
                    </div>
                  </section>
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/ofertas-y-lanzamientos/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Ofertas y Lanzamientos <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/hbo-espana/"
                          target="_self" title="HBO" class="lazyloaded aa-footer-second-level"><span>HBO</span></a></li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/servicios-para-tu-movil/hatch/"
                          target="_self" title="Hatch: Juegos Android" class="lazyloaded aa-footer-second-level"><span>Hatch: Juegos Android</span></a>
                        </li>
                        <li><a href="https://bit.vodafone.es" target="_blank" title="Tarifa Vodafone Bit"
                               class="lazyloaded aa-footer-second-level"><span>Tarifa Vodafone Bit</span></a></li>
                        <li><a
                          href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/vodafone-onenumber/"
                          target="_blank" title="Vodafone One Number" class="lazyloaded aa-footer-second-level"><span>Vodafone One Number</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/conocenos/es/5g/" target="_blank" title="Conexión 5G"
                               class="lazyloaded aa-footer-second-level"><span>Conexión 5G</span></a></li>
                      </ul>
                    </div>
                  </section>
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://ayudacliente.vodafone.es/particulares/temas-de-ayuda/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Ayuda <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a href="https://manuales.vodafone.es/" target="_self" title="Guías para tu móvil"
                               class="lazyloaded aa-footer-second-level"><span>Guías para tu móvil</span></a></li>
                        <li><a href="https://ayudacliente.vodafone.es/particulares/facturacion/" target="_self"
                               title="Facturas" class="lazyloaded aa-footer-second-level"><span>Facturas</span></a></li>
                        <li><a href="https://ayudacliente.vodafone.es/particulares/television/" target="_self"
                               title="Televisión" class="lazyloaded aa-footer-second-level"><span>Televisión</span></a>
                        </li>
                        <li><a href="https://ayudacliente.vodafone.es/particulares/internet-y-fijo/" target="_self"
                               title="Internet, Móvil y Fijo" class="lazyloaded aa-footer-second-level"><span>Internet, Móvil y Fijo</span></a>
                        </li>
                        <li><a href="https://ayudacliente.vodafone.es/particulares/viajar-al-extranjero-roaming/"
                               target="_self" title="Roaming"
                               class="lazyloaded aa-footer-second-level"><span>Roaming</span></a></li>
                      </ul>
                    </div>
                  </section>
                  <section class="accordion__item vfc-u-m0 vfc-u-1/4-lap-and-up vfc-layout__item"><a
                    href="https://ayudacliente.vodafone.es/particulares/contacta/"
                    class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="true"
                    tabindex="0"><h2 class="chevron__text"> Contacta con nosotros <span
                    class="chevron__container accordion__arrow-down"></span></h2></a>
                    <div class="accordion__content accordion__content--expanded">
                      <ul>
                        <li><a href="https://tiendas.vodafone.es/" target="_blank" title="Localiza tu tienda física"
                               class="lazyloaded aa-footer-second-level"><span>Localiza tu tienda física</span></a></li>
                        <li><a href="https://ayudacliente.vodafone.es/particulares/contacta/" target="_self"
                               title="Teléfonos de atención al cliente" class="lazyloaded aa-footer-second-level"><span>Teléfonos de atención al cliente</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/conocenos/es/mi-vodafone/" target="_self"
                               title="App de autogestión Vodafone" class="lazyloaded aa-footer-second-level"><span>App de autogestión Vodafone</span></a>
                        </li>
                        <li><a href="https://www.vodafone.es/c/particulares/es/acceso-area-privada/" target="_self"
                               title="Acceso Área Privada" class="lazyloaded aa-footer-second-level"><span>Acceso Área Privada</span></a>
                        </li>
                      </ul>
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="vfc-layout social-wrapper">
              <div class="vfc-layout__item vfc-u-3/4-lap-and-up">
                <ul class="fo-social">
                  <li><a href="https://www.facebook.com/vodafoneES/" target="_blank" title="Facebook"
                         class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-facebook'/>
                    </svg>
                    <span class="access">Facebook</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://twitter.com/vodafone_es" target="_blank" title="Twitter" class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-twitter'/>
                    </svg>
                    <span class="access">Twitter</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.instagram.com/vodafone_es/" target="_blank" title="Instagram"
                         class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-instagram'/>
                    </svg>
                    <span class="access">Instagram</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.youtube.com/vodafonees" target="_blank" title="Youtube" class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-youtube'/>
                    </svg>
                    <span class="access">Youtube</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.linkedin.com/company/vodafone" target="_blank" title="Linkedin"
                         class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-linkedin'/>
                    </svg>
                    <span class="access">Linkedin</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/contacto/" target="_self"
                         title="Contacta con nosotros" class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon3-mail-new'/>
                    </svg>
                    <span class="access">Contacta con nosotros</span></a></li>
                </ul>
              </div>
              <div class="vfc-layout__item vfc-u-1/4-lap-and-up"><a href="https://foro.vodafone.es/" target="_self"
                                                                    title="Foro Vodafone"
                                                                    class="lazyloaded aa-footer-second-level">
                <svg class="icon_mdd">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-forum'/>
                </svg>
                <span>Foro Vodafone</span></a></div>
            </div>
          </div>
        </div>
        <div class="vfc-layout__item vfc-u-color-bg-black black">
          <div class="vfc-layout__wrapper">
            <div class="legal vfc-layout__item vfc-u-3/4-lap-and-up">
              <ul>
                <li><a href="https://www.vodafone.es/c/conocenos/es/aviso-legal/" target="_self" title="Aviso Legal"
                       class="lazyloaded aa-footer-legal"><span>Aviso Legal</span></a></li>
                <li><a
                  href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/quienes-somos/legal-y-regulatorio/politica-de-privacidad-y-cookies/"
                  target="_self" title="Política de Privacidad y Cookies" class="lazyloaded aa-footer-legal"><span>Política de Privacidad y Cookies</span></a>
                </li>
                <li><a href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/contacto/informacion-al-consumidor/"
                       target="_self" title="Información a clientes" class="lazyloaded aa-footer-legal"><span>Información a clientes</span></a>
                </li>
                <li><a href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/calidad/calidad-de-servicio/"
                       target="_self" title="Calidad del servicio" class="lazyloaded aa-footer-legal"><span>Calidad del servicio</span></a>
                </li>
                <li><a href="https://www.vodafone.es/c/mapa-web/" target="_self" title="Mapa Web"
                       class="lazyloaded aa-footer-legal"><span>Mapa Web</span></a></li>
              </ul>
            </div>
            <div class="vfc-layout__item vfc-u-1/4-lap-and-up ext-links">
              <div class="copyright"><p> &copy; 2019 Vodafone Espa&ntilde;a S.A.U.<br/> Avda. Am&eacute;rica 115, 28042
                Madrid </p></div>
              <div><a href="https://www.confianzaonline.es/empresas/vodafone.htm" target="_self"
                      title="Confianza Online" class="lazyloaded">
                <svg class="icon_mdd">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-confianza'/>
                </svg>
                <span class="access">Confianza Online</span></a><a
                href="http://certiaccesibilidad.technosite.es/Recursos/Certificado.aspx?codigo=erthjngaftukftxustxw243149433ERTHJNGAFTUKFTXUSTXWI"
                target="_blank" title="Technosite" class="lazyloaded">
                <svg class="icon_mdd">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-tecnosite'/>
                </svg>
                <span class="access">Technosite</span><span class="access">Se abre en nueva ventana</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inicio Footer_WCS_Desktop -->

      <!-- Inicio Footer_WCS_Responsive -->
      <div class="footer vfc-layout footer-mobile">
        <div class="vfc-layout__item vfc-u-color-bg-black">
          <div class="vfc-layout__wrapper">
            <div class="vfc-layout">
              <div class="vfc-layout__item vfc-u-1/1-palm">
                <div class="ventajasFooter"><span class="vfc-u-center h3"> Razones para comprar online </span>
                  <ul class="vfc-layout__item vfc-u-5/5-lap-and-up">
                    <li>
                      <svg class="icon_mdd">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon3-tick-outline'/>
                      </svg>
                      <span>Mejor Precio Vodafone</span></li>
                    <li>
                      <svg class="icon_mdd">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-truck'/>
                      </svg>
                      <span>Elige modo de entrega</span></li>
                    <li>
                      <svg class="icon_mdd">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-right_arrow'/>
                      </svg>
                      <span>Garantía de devolución</span></li>
                    <li><a
                      href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/informacion/razones-para-comprar-online/"
                      target="_self" title="Ver todas las ventajas" class="lazyloaded btn aa-footer-advantage"><span>Ver todas las ventajas</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="vfc-layout">
              <div class="vfc-layout__item vfc-u-1/1-palm">
                <ul class="fo-social vfc-u-center">
                  <li><a href="https://www.facebook.com/vodafoneES/" target="_blank" title="Facebook"
                         class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-facebook'/>
                    </svg>
                    <span class="access">Facebook</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://twitter.com/vodafone_es" target="_blank" title="Twitter" class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-twitter'/>
                    </svg>
                    <span class="access">Twitter</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.instagram.com/vodafone_es/" target="_blank" title="Instagram"
                         class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-instagram'/>
                    </svg>
                    <span class="access">Instagram</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.youtube.com/vodafonees" target="_blank" title="Youtube" class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-youtube'/>
                    </svg>
                    <span class="access">Youtube</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.linkedin.com/company/vodafone" target="_blank" title="Linkedin"
                         class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-linkedin'/>
                    </svg>
                    <span class="access">Linkedin</span><span class="access">Se abre en nueva ventana</span></a></li>
                  <li><a href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/contacto/" target="_self"
                         title="Contacta con nosotros" class="lazyloaded">
                    <svg class="icon_mdd">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon3-mail-new'/>
                    </svg>
                    <span class="access">Contacta con nosotros</span></a></li>
                </ul>
                <div class="vfc-u-center fo-social-forum"><a href="https://foro.vodafone.es/" target="_self"
                                                             title="Foro Vodafone"
                                                             class="lazyloaded aa-footer-second-level">
                  <svg class="icon_mdd">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-forum'/>
                  </svg>
                  <span>Foro Vodafone</span></a></div>
              </div>
            </div>
            <h2 class="access">Enlaces de pie de página</h2>
            <div class="vfc-layout">
              <div class="vfc-layout__item vfc-u-1/1-palm">
                <div id="footer-accordion" class="accordion accordion--black accordion--black-arrow">
                  <div class="accordion accordion--black accordion--black-arrow">
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Tarifas Móvil + Fibra <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-1/"
                            target="_self" title="Vodafone One Mini" class="lazyloaded aa-footer-second-level"><span>Vodafone One Mini</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-2/"
                            target="_self" title="Vodafone One Extra" class="lazyloaded aa-footer-second-level"><span>Vodafone One Extra</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-3/"
                            target="_self" title="Vodafone One ilimitada"
                            class="lazyloaded aa-footer-second-level"><span>Vodafone One ilimitada</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-4/"
                            target="_self" title="Vodafone One ilimitada Súper"
                            class="lazyloaded aa-footer-second-level"><span>Vodafone One ilimitada Súper</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-5/"
                            target="_self" title="Vodafone One ilimitada Total"
                            class="lazyloaded aa-footer-second-level"><span>Vodafone One ilimitada Total</span></a></li>
                          <li><a href="https://www.vodafone.es/c/tienda-online/particulares/consulta-de-cobertura/"
                                 target="_self" title="Consulta cobertura de Fibra"
                                 class="lazyloaded aa-footer-second-level"><span>Consulta cobertura de Fibra</span></a>
                          </li>
                          <li><a href="https://www.vodafone.es/c/conocenos/test-velocidad-adsl/" target="_self"
                                 title="Test de Velocidad" class="lazyloaded aa-footer-second-level"><span>Test de Velocidad</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Tarifas Móvil <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-1/"
                            target="_self" title="Tarifa Móvil Mini" class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil Mini</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-2/"
                            target="_self" title="Tarifa Móvil Extra" class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil Extra</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-3/"
                            target="_self" title="Tarifa Móvil ilimitada"
                            class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil ilimitada</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-4/"
                            target="_self" title="Tarifa Móvil ilimitada Súper"
                            class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil ilimitada Súper</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-5/"
                            target="_self" title="Tarifa Móvil ilimitada Total"
                            class="lazyloaded aa-footer-second-level"><span>Tarifa Móvil ilimitada Total</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/esim-vodafone/"
                            target="_self" title="eSIM" class="lazyloaded aa-footer-second-level"><span>eSIM</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/prepago-y-recargas/"
                            target="_self" title="Prepago y recargas" class="lazyloaded aa-footer-second-level"><span>Prepago y recargas</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Móviles y Dispositivos <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/huawei/"
                                 target="_self" title="Móviles Huawei" class="lazyloaded aa-footer-second-level"><span>Móviles Huawei</span></a>
                          </li>
                          <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/samsung/"
                                 target="_self" title="Móviles Samsung" class="lazyloaded aa-footer-second-level"><span>Móviles Samsung</span></a>
                          </li>
                          <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/sony/"
                                 target="_self" title="Móviles Sony" class="lazyloaded aa-footer-second-level"><span>Móviles Sony</span></a>
                          </li>
                          <li><a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/lg/"
                                 target="_self" title="Móviles LG" class="lazyloaded aa-footer-second-level"><span>Móviles LG</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/moviles-5g/"
                            target="_self" title="Móviles 5G"
                            class="lazyloaded aa-footer-second-level"><span>Móviles 5G</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/iphone-11-pro-max/"
                            target="_self" title="iPhone 11 Pro | Pro Max"
                            class="lazyloaded aa-footer-second-level"><span>iPhone 11 Pro | Pro Max</span></a></li>
                          <li><a href="https://vodafone.ascendeoiberia.com/" target="_blank" title="Accesorios Vodafone"
                                 class="lazyloaded aa-footer-second-level"><span>Accesorios Vodafone</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Televisión <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-1/"
                            target="_self" title="Pack TV Seriefans" class="lazyloaded aa-footer-second-level"><span>Pack TV Seriefans</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-2/"
                            target="_self" title="Pack TV Serielovers" class="lazyloaded aa-footer-second-level"><span>Pack TV Serielovers</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-3/"
                            target="_self" title="Pack TV Cinefans" class="lazyloaded aa-footer-second-level"><span>Pack TV Cinefans</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-4/"
                            target="_self" title="Pack TV Documentales" class="lazyloaded aa-footer-second-level"><span>Pack TV Documentales</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-5/"
                            target="_self" title="Pack TV Peques" class="lazyloaded aa-footer-second-level"><span>Pack TV Peques</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/programacion-television/"
                            target="_self" title="Programación TV" class="lazyloaded aa-footer-second-level"><span>Programación TV</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/contenidos-television/"
                            target="_self" title="Contenidos Destacados TV"
                            class="lazyloaded aa-footer-second-level"><span>Contenidos Destacados TV</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Vodafone España <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a href="http://www.saladeprensa.vodafone.es/c/home/" target="_blank"
                                 title="Sala de Prensa"
                                 class="lazyloaded aa-footer-second-level"><span>Sala de Prensa</span></a></li>
                          <li><a href="https://www.vodafone.com/about/where-we-operate" target="_self"
                                 title="Empresas del Grupo Vodafone" class="lazyloaded aa-footer-second-level"><span>Empresas del Grupo Vodafone</span></a>
                          </li>
                          <li><a href="https://www.fundacionvodafone.es/" target="_blank" title="Fundación Vodafone"
                                 class="lazyloaded aa-footer-second-level"><span>Fundación Vodafone</span></a></li>
                          <li><a href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/trabaja-con-nosotros/"
                                 target="_self" title="Trabaja con nosotros"
                                 class="lazyloaded aa-footer-second-level"><span>Trabaja con nosotros</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/quienes-somos/legal-y-regulatorio/"
                            target="_self" title="Legal y regulatorio" class="lazyloaded aa-footer-second-level"><span>Legal y regulatorio</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/empresa-sostenible/estrategia/"
                            target="_self" title="Sostenibilidad" class="lazyloaded aa-footer-second-level"><span>Sostenibilidad</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/ofertas-y-lanzamientos/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Ofertas y Lanzamientos <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/hbo-espana/"
                            target="_self" title="HBO" class="lazyloaded aa-footer-second-level"><span>HBO</span></a>
                          </li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/servicios-para-tu-movil/hatch/"
                            target="_self" title="Hatch: Juegos Android"
                            class="lazyloaded aa-footer-second-level"><span>Hatch: Juegos Android</span></a></li>
                          <li><a href="https://bit.vodafone.es" target="_blank" title="Tarifa Vodafone Bit"
                                 class="lazyloaded aa-footer-second-level"><span>Tarifa Vodafone Bit</span></a></li>
                          <li><a
                            href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/vodafone-onenumber/"
                            target="_blank" title="Vodafone One Number" class="lazyloaded aa-footer-second-level"><span>Vodafone One Number</span></a>
                          </li>
                          <li><a href="https://www.vodafone.es/c/conocenos/es/5g/" target="_blank" title="Conexión 5G"
                                 class="lazyloaded aa-footer-second-level"><span>Conexión 5G</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://ayudacliente.vodafone.es/particulares/temas-de-ayuda/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Ayuda <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a href="https://manuales.vodafone.es/" target="_self" title="Guías para tu móvil"
                                 class="lazyloaded aa-footer-second-level"><span>Guías para tu móvil</span></a></li>
                          <li><a href="https://ayudacliente.vodafone.es/particulares/facturacion/" target="_self"
                                 title="Facturas" class="lazyloaded aa-footer-second-level"><span>Facturas</span></a>
                          </li>
                          <li><a href="https://ayudacliente.vodafone.es/particulares/television/" target="_self"
                                 title="Televisión"
                                 class="lazyloaded aa-footer-second-level"><span>Televisión</span></a></li>
                          <li><a href="https://ayudacliente.vodafone.es/particulares/internet-y-fijo/" target="_self"
                                 title="Internet, Móvil y Fijo" class="lazyloaded aa-footer-second-level"><span>Internet, Móvil y Fijo</span></a>
                          </li>
                          <li><a href="https://ayudacliente.vodafone.es/particulares/viajar-al-extranjero-roaming/"
                                 target="_self" title="Roaming"
                                 class="lazyloaded aa-footer-second-level"><span>Roaming</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item vfc-u-m0"><a
                      href="https://ayudacliente.vodafone.es/particulares/contacta/"
                      class="chevron accordion__heading vfc-u-mb0 aa-footer-first-level" aria-expanded="false"
                      tabindex="0"><h2 class="chevron__text"> Contacta con nosotros <span
                      class="chevron__container accordion__arrow-down"></span></h2></a>
                      <div class="accordion__content accordion__content--collapse">
                        <ul>
                          <li><a href="https://tiendas.vodafone.es/" target="_blank" title="Localiza tu tienda física"
                                 class="lazyloaded aa-footer-second-level"><span>Localiza tu tienda física</span></a>
                          </li>
                          <li><a href="https://ayudacliente.vodafone.es/particulares/contacta/" target="_self"
                                 title="Teléfonos de atención al cliente"
                                 class="lazyloaded aa-footer-second-level"><span>Teléfonos de atención al cliente</span></a>
                          </li>
                          <li><a href="https://www.vodafone.es/c/conocenos/es/mi-vodafone/" target="_self"
                                 title="App de autogestión Vodafone" class="lazyloaded aa-footer-second-level"><span>App de autogestión Vodafone</span></a>
                          </li>
                          <li><a href="https://www.vodafone.es/c/particulares/es/acceso-area-privada/" target="_self"
                                 title="Acceso Área Privada" class="lazyloaded aa-footer-second-level"><span>Acceso Área Privada</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vfc-layout__item vfc-u-color-bg-black legal">
          <div class="vfc-layout__wrapper">
            <div class="vfc-layout">
              <div class="vfc-layout__item vfc-u-1/1-palm">
                <ul>
                  <li><a href="https://www.vodafone.es/c/conocenos/es/aviso-legal/" target="_self" title="Aviso Legal"
                         class="lazyloaded aa-footer-second-level"><span>Aviso Legal</span></a></li>
                  <li><a
                    href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/quienes-somos/legal-y-regulatorio/politica-de-privacidad-y-cookies/"
                    target="_self" title="Política de Privacidad y Cookies"
                    class="lazyloaded aa-footer-second-level"><span>Política de Privacidad y Cookies</span></a></li>
                  <li><a
                    href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/contacto/informacion-al-consumidor/"
                    target="_self" title="Información a clientes" class="lazyloaded aa-footer-second-level"><span>Información a clientes</span></a>
                  </li>
                  <li><a href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/calidad/calidad-de-servicio/"
                         target="_self" title="Calidad del servicio" class="lazyloaded aa-footer-second-level"><span>Calidad del servicio</span></a>
                  </li>
                  <li><a href="https://www.vodafone.es/c/mapa-web/" target="_self" title="Mapa Web"
                         class="lazyloaded aa-footer-second-level"><span>Mapa Web</span></a></li>
                </ul>
              </div>
              <div class="vfc-layout__item vfc-u-1/1-palm">
                <div class="vfc-u-align--center copyright"><p> &copy; 2019 Vodafone Espa&ntilde;a S.A.U.<br/> Avda. Am&eacute;rica
                  115, 28042 Madrid </p></div>
              </div>
            </div>
          </div>
        </div>
        <div class="vfc-layout__item vfc-u-color-bg-black black">
          <div class="vfc-u-align--center ext-links"><a href="https://www.confianzaonline.es/empresas/vodafone.htm"
                                                        target="_self" title="Confianza Online" class="lazyloaded">
            <svg class="icon_mdd">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-confianza'/>
            </svg>
            <span class="access">Confianza Online</span></a><a
            href="http://certiaccesibilidad.technosite.es/Recursos/Certificado.aspx?codigo=erthjngaftukftxustxw243149433ERTHJNGAFTUKFTXUSTXWI"
            target="_blank" title="Technosite" class="lazyloaded">
            <svg class="icon_mdd">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='#icon-mdd-tecnosite'/>
            </svg>
            <span class="access">Technosite</span><span class="access">Se abre en nueva ventana</span></a></div>
        </div>
      </div>
      <!-- Fin Footer_WCS_Responsive -->
    </footer>
  </div>
</div>
